<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>Your Saved Articles</h1>
        <h2>TechCrunch</h2>
    </div>
    {{#each savedArticles}}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{this.title}}</h3>
        </div>
        <div class="panel-body">
            <p>By: {{this.author}}</p>
            <p>{{this.intro}}</p>
            <span><a href="{{this.link}}">Read More</a></span>

            <!-- <button type="" class="btn btn-info pull-right">Aritcle Notes</button> -->
            <form action="">
                <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal{{@index}}">
  Aritcle Notes
</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><strong>Notes For Article:</strong> {{this.title}}</h4>
                            </div>

                            <div class="modal-body">
                                {{#each showNotes}}
                                <div class="well">
                                    {{this.note}}
                                    <form action="/note/{{this.id}}?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-danger">X</button>
                                    </form>
                                </div>
                                {{/each}}
                                <form class="form-group" action="/saved/{{this.title}}" method="POST">
                                    <div class="form-group">
                                        <textarea class="form-control" name="addNote" id="" cols="30" rows="10">New Note
                            </textarea>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->

                                <button type="submit" class="btn btn-primary">Save Note</button>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/saved/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger pull-right button-delete">Delete From Saved</button>
            </form>

        </div>
    </div>
    <br> {{/each}}
</div>
{{!--
<script type="text/javascript">
    $(document).ready(function () {
        $("#admin-ul").show();
        $("#public-ul").hide();

        $(".button-delete").on("click", function (e) {
            e.preventDefault();

            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this article!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted!", "Your article has been deleted.", "success");
                        console.log("Frm: ", e.currentTarget.form);
                        e.currentTarget.form.submit();
                        return true;
                    } else {
                        swal("Cancelled", "Your article is safe :)", "error");
                        return false;
                    }
                });
        });
    });
    function deleteProduct() {
    } --}}

</script>